body {
    font-family: sans-serif;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .vote-option {
    margin-bottom: 10px;
  }
  
  #message {
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
  }
  